# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>.mongodb.net/?appName=<appName>
MONGO_DB_NAME=food_decider

# Identifier for this device / user context
DEVICE_OWNER=me
